#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@font-face{
  font-family: "PlusJakartaSans";
  src: url(src/assets/fonts/PlusJakartaSans-VariableFont_wght.ttf)
}

body {
  background-color: #e3f4fc;
  font-family: PlusJakartaSans;
}



.clear {
  cursor: pointer;
  text-decoration: underline grey;
}

.dollar-label {
  background: #e3f4fc;
  padding: 8px 10px;
  /* border: 1px solid #ccc; */
  border-radius: 5px 0px 0px 5px;
  border-right: none;
  border-left: none;
  font-weight: bold;
  color: #49636f;
}

.calculate-button {
  background: #d9db30;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 1rem;
}

.input-side {
  background-color: white;
  width: 50%;
  padding: 2%;
  padding: 20px;
  border-radius: 10px 0px 10px 10px;
}

#int-only {
  margin-top: 1rem;
}

.input-group {
  margin: 0 0 5px 0;
}

.input-with-label {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  margin-top: 0;
  border-radius: 5px;
}

.input-with-label input {
  outline: none;
  border: none;
  /* border: 1px solid #ccc; */
  width: 100%;

}

.incomplete {
  color: #7895a5;
}


.label {
  background: #e3f4fc;
  padding: 8px 10px;
  /* border: 1px solid #ccc; */
  border-radius: 0px 5px 5px 0px;
  border-right: none;
  border-left: none;
  font-weight: bold;
  color: #49636f;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.main {
  display: flex;
}

.mortgage-type-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
}

.radio-button {
  font-weight: bold;
  color: #133040;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
  padding: .5rem;
  width: 60%;
  cursor: pointer;
  accent-color: hsl(61, 70%, 52%);
}

.radio-button > label {
  cursor: pointer;
}

.radio-button.selected {
  background-color: #fafae0;
  border-color: hsl(61, 70%, 52%);
}

.results-side {
  background-color: #133040;
  color: #7895a5;
  width: 50%;
  border-radius: 0px 10px 10px 60px;
}

.term-interest {
  display: flex;
  justify-content: left;
}

.type-section {
  display: flex;
  flex-direction: column;
}

.moretgage-type-section>button {
  border: #133040;
}

.subtitle-left {
  display: flex;
  justify-content: space-around
}



@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}